.pasaj {
  max-width: 1600px;
  width: 90%;
  height: 100px;
  margin: 0 auto;
}
.pasaj-main {
  display: flex;
  justify-content: space-evenly;
}
.asd p {
  width: 80%;
  font-size: 36px;
  font-weight: 600;
}
.two img {
  width: 114%;
  position: relative;
  top: 40px;
}
