.footer {
  background-color: #4a465c;
  width: 100%;
  height: 380px;
  margin-top: 20%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.footer-flow {
  max-width: 1600px;
  margin: 0 auto;
  width: 95%;
  padding-top: 4%;
}
.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ul {
  display: flex;
  justify-content: space-around;
  width: 107%;
  font-size: 25px;
  color: white;
}
li {
  font-family: "Open Sans";
  font-weight: 100;
}
.asd {
  width: 100% !important;
  height: 1px;
  background-color: white;
  margin-top: 50px;
}
.for-image img {
  width: 80%;
}
