.main__block {
  margin: 0;
  padding: 0;
  //   display: flex;
  .left__block {
    margin-top: 300px;
    margin-right: auto;
    width: 55%;
    height: 50%;
  }
  .right__block {
    margin-left: auto;
    width: 40%;
    height: 50%;
    // position: absolute;
    left: 190px;
    top: 100px;
  }
  .phone {
    display: flex;
  }
  .text__me {
    display: flex;
  }
}
