* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "OpenSans", sans-serif;
}
*::selection {
  background-color: #f8c100;
}
main {
  width: 100%;
  height: 780px;
  display: flex;
  align-items: center;

  justify-content: center;
}
.main__container {
  position: relative;
}
.contact__main {
  width: 1280px;
  height: 628px;
  position: relative;
  display: flex;
  flex-direction: column;

  justify-content: space-between;
}
.contact__main h1 {
  font-weight: 600;
}
.item-woid {
  top: 50px;
  position: relative;
}
.contact__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 150px;
}
.contact__text h1 {
  font-size: 25px;
  letter-spacing: 3px;
  color: #222531;
}
.action__contact {
  display: flex;
  width: 49%;
  justify-content: space-between;
}
.social__flex div {
  width: 42px;
  height: 42px;
  display: flex;

  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social__flex {
  display: flex;
  width: 160px;
  justify-content: space-between;
}
.contact__link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contact__link-text a {
  color: #f8c100;
  font-size: 24px;
  text-decoration: none;
  font-weight: 400;
}
.contact__link-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80px;
}
.map__main {
  position: absolute;
  left: 55%;
  top: 40%;
}
.map-text h1 {
  font-size: 25px;
  font-weight: 600;
  color: #222531;
}

.map__div {
  width: 460px;
  height: 400px;
  border: solid 2px #000;
  margin-top: 20px;
}
